
<div data-bind="foreach: repos">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <p>Name: <label data-bind="text: name"/></p>
                    <p>Stargazers: <label data-bind="text: stargazers_count"/>
                        <span class="glyphicon glyphicon-star" style="color: #E3E33B;" data-bind="style: { 'font-size': starSize }"></span>
                    </p>
                    <button data-bind="attr: { 'isStargazersButton': true, id: 'stargazersbtn_' + $index() }"
                            type="button" class="btn btn-info">Show stargazers</button>
                </div>
            </div>
        </div>
        <!--div class="col-lg-6" data-bind="template: { name: 'ContainerTemplate', foreach: startGazers}">

        </div-->
    </div>
</div>

